[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
werkzeug = "*"
flask-migrate = "*"
sqlalchemy-serializer = "*"
flask-restful ="*"
flask-cors = "*"
faker = "*"
ipdb = "*"
flask-bcrypt = "*"
sqlalchemy = "*"

[dev-packages]
sqlalchemy-serializer = "*"

[requires]
python_version = "3.10"